.idea/
venv/
config.json
packaging/fedora/.build*
packaging/fedora/**/*.rpm
packaging/PKGBUILD/home-assistant-indicator.py
packaging/PKGBUILD/src/
packaging/PKGBUILD/pkg/
packaging/PKGBUILD/*.pkg.*
home-assistant-indicator.json